/* 内嵌的推文 */
.twitter-tweet {
  margin: 10px auto;
}

:root {
  --vp-c-text-10: #656973;
  --vp-c-text-11: #000000;
  --vp-c-bg-10: #eff2f5;
}
.dark {
  --vp-c-text-10: #dedfe3;
  --vp-c-text-11: #ffffff;
  --vp-c-bg-10: #22272e;
}

/* 左边菜单-分组标题 */
.nav .VPSidebarItem .item h2.text {
  font-size: 13px;
}

@font-face {
  font-family: number;
  src: url(https://srd.e-jt.cn/static/fonts/SFUDINENGSCHRIFT.TTF);
}

/**
 * 首页标题渐变动画
 * -------------------------------------------------------------------------- */
.VPContent .clip {
  background: -webkit-linear-gradient(315deg, rgb(210, 86, 53) 10%, #41d1ff 50%, #bd34fe 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* https://www.iconfont.cn/fonts/detail?spm=a313x.fonts_index.i1.d9df05512.24963a81myBL5X&cnid=fXpbnNvHu1TN */
/* @font-face {
  font-family: 'Nabla Regular';
  src: url('/font/ktL80j27XLC0/9C7vXKufVgtl.woff2') format('woff2'), url('/font/ktL80j27XLC0/9C7vXKufVgtl.woff') format('woff');
  font-display: swap;
} */

/* HYPixel11pxU-2 */
@font-face {
  font-family: HYPixel;
  src: url('https://static.onev.top/font/HYPixel.ttf');
}

.VPNavBarTitle .title {
  font-family: HYPixel;
  font-weight: bolder;
  /* background: -webkit-linear-gradient(315deg, rgb(210, 86, 53) 10%, #41d1ff 50%, #bd34fe 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite; */
}

/* 首页渐变背景动画 gradient-body */
body:has(.VPContent.is-home) {
  background-color: #fff;
  background-image: radial-gradient(closest-side, #deff93, rgba(222, 255, 147, 0)), radial-gradient(closest-side, #c6befc, rgba(198, 190, 252, 0)),
    radial-gradient(closest-side, #deff93, rgba(222, 255, 147, 0)), radial-gradient(closest-side, #c6befc, rgba(198, 190, 252, 0)), radial-gradient(closest-side, #deff93, rgba(222, 255, 147, 0));
  background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax, 110vmax 110vmax, 90vmax 90vmax;
  background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax, -30vmax -10vmax, 50vmax 50vmax;
  background-repeat: no-repeat;
  animation: movement 4s linear infinite;
}
@keyframes movement {
  0%,
  100% {
    background-size: 130vmax 130vmax, 8 0vmax 80vmax, 90vmax 90vmax, 110vmax 110vmax, 90vmax 90vmax;
    background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax, -30vmax -10vmax, 50vmax 50vmax;
  }
  25% {
    background-size: 100vmax 100vmax, 90vmax 90vmax, 100vmax 100vmax, 90vmax 90vmax, 60vmax 60vmax;
    background-position: -60vmax -90vmax, 50vmax -40vmax, 0 -20vmax, -40vmax -20vmax, 40vmax 60vmax;
  }
  50% {
    background-size: 80vmax 80vmax, 110vmax 110vmax, 80vmax 80vmax, 60vmax 60vmax, 80vmax 80vmax;
    background-position: -50vmax -70vmax, 40vmax -30vmax, 10vmax 0, 20vmax 10vmax, 30vmax 70vmax;
  }
  75% {
    background-size: 90vmax 90vmax, 90vmax 90vmax, 100vmax 100vmax, 90vmax 90vmax, 70vmax 70vmax;
    background-position: -50vmax -40vmax, 50vmax -30vmax, 20vmax 0, -10vmax 10vmax, 40vmax 60vmax;
  }
}
